/* Custom Style */

/* Header */

.container {
  justify-content: space-between !important;
}

.custom-link {
  display: flex;
  align-items: center;
  font-size: 18px;
  gap: 5px;
  margin-right: 0 !important;
  font-size: .9rem;
  text-decoration: none !important;
}

.cart-count {
  font-size: 13px;
  padding: 2px 8px;
  border-radius: 50px;
  background: #f1f0ee;
}

.container h4 {
  color: #fff;
  font-weight: 600;
}

/* HeroSection */
.text-body-secondary {
  color: #202020 !important;
}
/* Product */

.product-image {
  width: 100%;
}

.product-4{
  color: #202020 !important;
}

