/* Custom Style */

/* Header */

.container {
  justify-content: center !important;
}

.container h4 {
  color: #fff;
  font-weight: 600;
}

/* HeroSection */
.text-body-secondary {
  color: #202020 !important;
}
/* Product */

.product-image {
  width: 100%;
}

.product-4{
  color: #202020 !important;
}